@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow-red {
      text-shadow: 4px 3px 3px rgba(255, 16, 16, 1);
    }
    .text-shadow-black {
        text-shadow: 4px 3px 3px rgba(0,0,0,1);
    }
    .text-shadow-white {
        text-shadow: 4px 3px 3px rgba(255,255,255,1);
    }
  }